In [1]:
# if the library has been published to PyPi Test, the following will work
# from colab
# !pip install -i https://test.pypi.org/simple/ brown-edu-dmtools --upgrade

In [2]:
# local testing
# =================
# installed python 3.12 onto ubuntu
# sudo add-apt-repository ppa:deadsnakes/ppa
# sudo apt update
# sudo apt install python3.12
# pipenv install --python 3.12
# pipenv shell
# pip install jupyter
# pip install pandas

# on revising the github library
# git pull
# enter username and password
# pip uninstall brown-edu-dmtools
# pip install -e ~/Documents/Code/Work/Brown_Working/dmtools_notebooks/brown_edu_dmtools

# jupyter notebook

In [3]:
#from package_a.module_a import add_one
#from package_b.module_b import add_two

In [5]:
from dmtools_client_package.dmtools_client_module import DMToolsClient

In [4]:
## get api key and user id from local .env file
from dotenv import load_dotenv
import os
from os import environ, path
#BASE_DIR = path.abspath(path.dirname(__file__))
BASE_DIR = os.getcwd()
load_dotenv(path.join(BASE_DIR, ".env"))
MY_DMTOOLS_APIKEY = environ.get("MY_DMTOOLS_APIKEY")
MY_DMTOOLS_USERID = environ.get("MY_DMTOOLS_USERID")
Client = DMToolsClient(MY_DMTOOLS_USERID, MY_DMTOOLS_APIKEY)

In [9]:
Client = DMToolsClient(MY_DMTOOLS_USERID, MY_DMTOOLS_APIKEY)

In [22]:
purpose = 'read_all'
subject = 'plot'
id = ''
Client.create_current_url(purpose, subject, id)
j = Client.read_current_as_df()

In [25]:
j = Client.read_current_as_df()

In [27]:
j.head(5)

,x_min,plot_eps,x_units,y_units,legend_eps,old_id,user_id,no_id,subject,created_at,...,old_user_id,y_min,archived_at,name,x_max,plot_png,id,y_max,legend_png,row_id
0,1.000000e+01,None,GeV/c^2,cm2,None,53,None,0,plot,2009-10-14 07:48:53,...,None,-4.400000e+01,1980-01-01 00:00:00,XENON10_for_thesis,1.000000e+03,None,20,-4.000000e+01,None,0
1,1.000000e+01,None,GeV/c^2,cm2,None,66,None,0,plot,2009-11-19 14:22:11,...,None,-4.800000e+01,1980-01-01 00:00:00,XENON10_LUX_compare,1.000000e+04,None,26,-4.000000e+01,None,1
2,1.000000e+00,None,GeV/c^2,cm2,None,73,None,0,plot,2009-11-23 21:12:03,...,None,-4.800000e+01,1980-01-01 00:00:00,XENON10_LUX_ZEPLINIII,1.000000e+04,None,33,-3.200000e+01,None,2
3,1.000000e+00,None,GeV/c^2,cm2,None,107,None,0,plot,2010-01-04 18:59:18,...,None,-5.000000e+01,1980-01-01 00:00:00,CDMS_new_results,1.000000e+04,None,54,-3.600000e+01,None,3
4,1.000000e+00,None,GeV/c^2,cm2,None,148,None,1,plot,2010-02-05 00:29:07,...,None,-4.400000e+01,1980-01-01 00:00:00,CoGeNT_plus_Xenon_100_New,1.000000e+03,None,74,-3.800000e+01,None,4

In [ ]:
#dmtool_userid = '1'
#dmtool_apikey = '20CA2CF4_3DE3_11EF_98A4_D60CFA69E605'

In [ ]:
#MyAPIServer = APIServer(dmtool_userid,dmtool_apikey)

In [ ]:
#from dmtools_api_package.dmtools_api_module import DataExamples

In [ ]:
#de = DataExamples()

In [ ]:
#de.data_json

In [ ]:
#MyAPIServer.read_and_return_a_data(1)

In [ ]:
#MyAPIServer.read_a_data_df