In [1]:
# from colab
# !pip install -i https://test.pypi.org/simple/ brown-edu-dmtools --upgrade

# local testing
# =================
# installed python 3.12 onto ubuntu
# sudo add-apt-repository ppa:deadsnakes/ppa
# sudo apt update
# sudo apt install python3.12
# pipenv install --python 3.12
# pipenv shell
# pip install jupyter
# pip install pandas
# pip install -e /tmp/demo-package
# jupyter notebook

In [2]:
# on revising the github library
# git pull
# enter username and password
# pip uninstall brown-edu-dmtools
# pip install -e ~/Documents/Code/Work/Brown_Working/dmtools/basecode/publish_library/brown_edu_dmtools

In [3]:
from package_a.module_a import add_one
from package_b.module_b import add_two

In [4]:
from dmtools_api_package.dmtools_api_module import APIServer

In [5]:
add_one(1)

2

In [6]:
add_two(2)

4

In [7]:
dmtool_userid = '1'
dmtool_apikey = '20CA2CF4_3DE3_11EF_98A4_D60CFA69E605'

In [8]:
MyAPIServer = APIServer(dmtool_userid,dmtool_apikey)

In [9]:
from dmtools_api_package.dmtools_api_module import DataExamples

In [10]:
de = DataExamples()

In [11]:
#de.data_json

In [12]:
MyAPIServer.read_and_return_a_data(1)

In [13]:
MyAPIServer.read_a_data_df

,id,subject,spin_dependency,result_type,measurement_type,x_units,y_units,x_rescale,y_rescale,default_color,...,date_of_announcement,public,open,official,date_official,greatest_hit,date_of_run_start,date_of_run_end,year,row_id
0,1,data,SI,Th,Dir,GeV,cm^2,,,LtR,...,2003-01-01,1,None,1,None,0,None,None,2003,0